:root {
    --title-color: #322153;
}
*{
    margin: 0;
    padding: 0;
}

html { 
    font-family: 'Roboto', sans-serif; 
}

body {
    background: #f0f0f5;
}

a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

#page-home {
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}
#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
}
#page-home header {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}
#page-home header a span {
    margin-right: 16px;
    display: flex;
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
}
#page-home main {
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page-home main h1{
    font-size: 54px;
}